@font-face {
  font-family: 'Bangers';
  src: url('../public/fonts/Bangers-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.appBackground {
  background-image: url('../public/Background.jpeg'), url('../public/Hado90.jpg');
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center bottom;
  min-height: 100vh;
  background-attachment: fixed, fixed;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.scrollableContent {
  padding: 20px;
  color: white;
  width: 100vw;
  text-align: left;
  font-size: 2em;
  font-family: 'Nosifer', sans-serif;
  flex: 1;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .scrollableContent {
    font-size: 3em;
  }
}

.container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 100px;
  position: relative;
  width: 80vw;
}

.alternate {
  flex-direction: row-reverse;
}

@media (max-width: 767px) {
  .container {
    width: 95%;
    margin-bottom: 50px;
  }

  .alternate {
    flex-direction: column;
  }

  .container p, .alternate p {
    font-size: 1em;
    padding: 10px;
  }

  .container img, .alternate img {
    width: 100%;
    margin: 10px 0;
  }
}

.container p {
  flex: 1;
  margin: 0;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.image {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-left: 20px;
  margin-top: -20px;
  margin-bottom: 20px;
  z-index: 0;
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.alternate .image {
  margin-left: 0;
  margin-right: 20px;
  margin-top: -20px;
  margin-bottom: 20px;
  transform: translateX(-100px);
}

@media (max-width: 767px) {
  .image, .alternate .image {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.specialImage {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.largeImage {
  width: 100%;
  max-width: 900px;
  height: auto;
  position: relative;
  left: -200px;
}

@media (max-width: 767px) {
  .specialImage {
    width: 100%;
  }

  .largeImage {
    width: 100%;
    left: 0;
  }
}

.banner, .bottomBanner {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
  z-index: 1000;
  white-space: nowrap;
  height: 100px;
}

.bottomBanner {
  margin-top: 20px;
  margin-bottom: 0;
}

.bannerContent {
  display: inline-block;
  color: #fff;
  font-size: 4em;
  padding: 10px 0;
  font-family: 'Bangers', sans-serif;
}

.bannerContent span {
  display: inline-block;
  padding-right: 100px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.bannerContentWrapper {
  display: flex;
  white-space: nowrap;
  animation: scroll-left 20s linear infinite;
}

.middleText, .middleTextLarge {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  text-align: center;
  color: white;
  font-family: 'Bangers', sans-serif;
  width: 90%;
  max-width: 1200px;
}

.middleText {
  font-size: 2em;
  padding: 20px;
  margin-bottom: 40px;
}

.middleTextLarge {
  font-size: 3em;
  padding: 40px;
  margin: 40px 0;
}

.middleText.visible, .middleTextLarge.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 767px) {
  .middleText {
    font-size: 1.5em;
    padding: 10px;
    margin-bottom: 20px;
  }

  .middleTextLarge {
    font-size: 2em;
    padding: 20px;
    margin: 20px 0;
  }
}

.headerText {
  font-family: 'Bangers', sans-serif;
  font-size: 3em;
  color: white;
  text-decoration: none;
}

.bulletList {
  list-style: none;
  padding: 0;
  text-align: left;
  color: white;
  font-size: 1em;
  font-family: 'Bangers', sans-serif;
  margin: 0 auto;
  max-width: 600px;
}

.bulletList li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.bulletList .visible {
  opacity: 1;
  transform: translateY(0);
}

.bulletList li::before {
  content: '•';
  margin-right: 10px;
  color: #fff;
  font-size: 1.8em;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.icon {
  color: #800080;
  font-size: 2em;
  margin: 0 20px;
  transition: color 0.3s, transform 0.3s, text-shadow 0.3s, box-shadow 0.3s;
  text-shadow: 0 0 5px rgba(128, 0, 128, 0.5), 0 0 10px rgba(128, 0, 128, 0.5), 0 0 15px rgba(128, 0, 128, 0.5);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(128, 0, 128, 0.7), 0 0 20px rgba(128, 0, 128, 0.7);
  background: radial-gradient(circle, rgba(128,0,128,1) 0%, rgba(75,0,130,1) 35%, rgba(0,0,0,1) 100%);
  padding: 10px;
}

.icon:hover {
  color: #dda0dd;
  transform: scale(1.2);
  text-shadow: 0 0 10px rgba(221, 160, 221, 0.5), 0 0 15px rgba(221, 160, 221, 0.5), 0 0 20px rgba(221, 160, 221, 0.5);
  box-shadow: 0 0 15px rgba(221, 160, 221, 0.7), 0 0 25px rgba(221, 160, 221, 0.7);
}

@keyframes bounce1 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes bounce2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes bounce3 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes bounce4 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}

.icon.bounce1 {
  animation: bounce1 2s infinite;
}

.icon.bounce2 {
  animation: bounce2 2.5s infinite;
}

.icon.bounce3 {
  animation: bounce3 3s infinite;
}

.icon.bounce4 {
  animation: bounce4 3.5s infinite;
}

.image.visible {
  opacity: 1;
  transform: translateX(0);
}
