@font-face {
  font-family: 'Bangers';
  src: url('../public/fonts/Bangers-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.appBackground {
  background-image: url('../public/Background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 100vh;
  background-attachment: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.scrollableContent {
  padding: 2vw;
  color: white;
  width: 100%;
  text-align: left;
  font-size: 2vw;
  font-family: 'Nosifer', sans-serif;
  flex: 1;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5vh;
  position: relative;
  width: 100%;
  max-width: 1200px;
  gap: 4vw; /* Space between text and images */
}

.alternate {
  flex-direction: row-reverse;
}

.container p {
  flex: 1;
  margin: 0;
  padding: 2vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 50%;
  font-size: 2vw;
}

.alternate .container p {
  margin-left: 0; /* Adjusted for alignment in alternate layout */
  padding-right: 2vw; /* Ensure padding consistency */
}

.image, .specialImage, .largeImage {
  max-width: 100%; /* Ensure images fit within container width */
  height: auto;
  opacity: 0;
  transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out;
}

.alternate .image {
  transform: translateX(-5vw);
}

.imageWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.specialImage {
  width: 100%; /* Make image responsive */
  max-width: 35vw; /* Control maximum size */
}

.largeImage {
  width: 100%; /* Make image responsive */
  max-width: 40vw; /* Control maximum size */
}

.middleText, .middleTextLarge {
  opacity: 0;
  transform: translateY(2vh);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  text-align: center;
  color: white;
  font-family: 'Bangers', sans-serif;
  width: 100%;
  max-width: 1200px;
}

.middleText {
  font-size: 3vw;
  padding: 2vw;
  margin-bottom: 4vh;
}

.middleTextLarge {
  font-size: 4vw;
  padding: 4vw;
  margin: 4vh 0;
}

.middleText.visible, .middleTextLarge.visible {
  opacity: 1;
  transform: translateY(0);
}

.bulletList {
  list-style: none;
  padding: 0;
  text-align: left;
  color: white;
  font-size: 2.5vw;
  font-family: 'Bangers', sans-serif;
  margin: 0 auto;
  max-width: 80vw;
}

.bulletList li {
  margin-bottom: 3vh;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateY(2vh);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.bulletList .visible {
  opacity: 1;
  transform: translateY(0);
}

.bulletList li::before {
  content: '•';
  margin-right: 1.5vw;
  color: #fff;
  font-size: 3.5vw;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 2vw; /* Reduce gap for mobile */
  }

  .container p {
    width: 90%;
    margin-bottom: 2vh;
  }

  .image, .specialImage, .largeImage {
    width: 90%;
    max-width: 90%;
    margin: 1vh 0;
    transform: none;
  }

  .specialImage {
    max-width: 40vw;
  }

  .largeImage {
    max-width: 80vw;
  }

  .middleText {
    font-size: 4vw;
    padding: 1vw;
    margin-bottom: 2vh;
  }

  .middleTextLarge {
    font-size: 5vw;
    padding: 2vw;
    margin: 2vh 0;
  }

  .bulletList {
    font-size: 2.4vw;
    max-width: 100%;
  }

  .bulletList li {
    margin-bottom: 2vh;
  }

  .bulletList li::before {
    font-size: 3vw;
    margin-right: 1vw;
  }
}

.banner, .bottomBanner {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
  z-index: 1000;
  white-space: nowrap;
  height: auto; /* Automatically adjust height to fit content */
  padding: 1vh 0; /* Reduced padding to make the banner smaller */
}

.bannerContent, .bottomBannerContent {
  display: inline-block;
  color: #fff;
  font-size: 5vw; /* Smaller font size to fit smaller banner */
  padding: 0.5vw 0; /* Reduced padding to match the smaller font size */
  font-family: 'Bangers', sans-serif;
  white-space: nowrap;
}

.bannerContent span, .bottomBannerContent span {
  display: inline-block;
  padding-right: 5vw; /* Reduced space between repeating content */
}

.bannerContentWrapper, .bottomBannerContentWrapper {
  display: flex;
  white-space: nowrap;
  animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 767px) {
  .bannerContent, .bottomBannerContent {
    font-size: 6vw; /* Font size for smaller screens */
    padding: 1vw 0; /* Adjust padding for smaller screens */
  }
  
  .bannerContent span, .bottomBannerContent span {
    padding-right: 6vw; /* Adjust spacing for smaller screens */
  }
}

.headerText {
  font-family: 'Bangers', sans-serif;
  font-size: 4vw;
  color: white;
  text-decoration: none;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh 0;
}

.icon {
  color: #800080;
  font-size: 7vw;
  margin: 0 2vw;
  transition: color 0.3s, transform 0.3s, text-shadow 0.3s, box-shadow 0.3s;
  text-shadow: 0 0 0.5vw rgba(128, 0, 128, 0.5), 0 0 1vw rgba(128, 0, 128, 0.5), 0 0 1.5vw rgba(128, 0, 128, 0.5);
  border-radius: 50%;
  box-shadow: 0 0 1vw rgba(128, 0, 128, 0.7), 0 0 2vw rgba(128, 0, 128, 0.7);
  background: radial-gradient(circle, rgba(128,0,128,1) 0%, rgba(75,0,130,1) 35%, rgba(0,0,0,1) 100%);
  padding: 1vw;
}

.icon:hover {
  color: #dda0dd;
  transform: scale(1.2);
  text-shadow: 0 0 1vw rgba(221, 160, 221, 0.5), 0 0 1.5vw rgba(221, 160, 221, 0.5), 0 0 2vw rgba(221, 160, 221, 0.5);
  box-shadow: 0 0 1.5vw rgba(221, 160, 221, 0.7), 0 0 2.5vw rgba(221, 160, 221, 0.7);
}

@keyframes bounce1 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1vh);
  }
}

@keyframes bounce2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.5vh);
  }
}

@keyframes bounce3 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2vh);
  }
}

@keyframes bounce4 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.5vh);
  }
}

.icon.bounce1 {
  animation: bounce1 2s infinite;
}

.icon.bounce2 {
  animation: bounce2 2.5s infinite;
}

.icon.bounce3 {
  animation: bounce3 3s infinite;
}

.icon.bounce4 {
  animation: bounce4 3.5s infinite;
}

.image.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Adjustments for specific images */
.newImage1 {
  width: 40% !important;
  height: auto;
  position: relative;
  left: -5vw;
}

.newImage2 {
  width: 35% !important;
  height: auto;
  position: relative;
  left: -8vw;
  z-index: 1;
  margin: 0;
}

.newImage3 {
  width: 40% !important;
  height: auto;
}

.newImage4 {
  width: 50% !important;
  height: auto;
  position: relative;
  left: -14vw;
}

/* Adjust the container styling */
.container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5vh;
  position: relative;
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
  gap: 4vw; /* Adjust spacing between text and image */
}

/* Adjustments for alternate layout */
.alternate {
  flex-direction: row-reverse;
}

/* Adjust text box for alternate layout */
.alternate p {
  margin-left: 0; /* Adjusted for alignment in alternate layout */
  position: relative;
  left: 0; /* Adjusted for alignment */
}
